
<div class="container">
    <h2>ResetPassword Form</h2>
    <form [formGroup]="restpswFrm" (submit)="onSubmit()">
      <label for="oldPassword">Old Password:</label>
      <input type="password" id="password" name="password" formControlName="oldPassword">

      <label for="password">New Password:</label>
      <input type="password" id="newpassword" name="newPassword" formControlName="newPassword" >

      <button type="submit" [disabled]="restpswFrm.invalid">Submit</button>
    </form>
  </div>
