
<div class="container">
    <h2>ResetPassword Form</h2>
    <form [formGroup]="restpswFrm" (submit)="onSubmit()">
      <label for="oldPassword">Old Password:</label>
      <input type="password" id="password" name="password" formControlName="oldPassword">

      <label for="password">New Password:</label>
      <input type="password" id="newpassword" name="newPassword" formControlName="newPassword" >

      <button type="submit" [disabled]="restpswFrm.invalid">Submit</button>
    </form>
  </div>


  <div class="container">
    <h2> Reset Password Form</h2>
    <form [formGroup]="restpswFrm" (submit)="onSubmit()">
      
      <mat-form-field appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" id="oldPassword" formControlName="oldPassword">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" id="newPassword" formControlName="newPassword">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="restpswFrm.invalid">Submit</button>
    </form>
  </div>
  